/* Contenedor general del select */
.input-container-select {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

/* Label del select */
.input-label-select {
  font-size: 0.875rem;
  color: var(--white);
  font-weight: 500;
}

/* Contenedor del input y el ícono */
.input-wrapper-select {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

/* Estilos para el select */
.input-field-select {
  width: 100%;
  padding: 10px;
  font-size: 0.875rem;
  border: 1px solid var(--border-dark);
  border-radius: 6px;
  color: var(--white);
  outline: none;
  transition: all 0.2s ease-in-out;
}

/* Cambios aquí para el focus y hover */
.input-field-select:focus {
  border-color: var(--white);
}

/* Para hover */
.input-field-select:hover {
  border-color: var(--white);
}

/* Si hay error y el campo tiene foco o está en hover, borde rojo */
.input-field-select.input-error-select:focus,
.input-field-select.input-error-select:hover {
  border-color: var(--border-error); /* Rojo para error */
}

/* Estilos cuando el campo está deshabilitado */
.input-field-select:disabled {
  background: rgba(255, 255, 255, 0.144); /* Casi igual al fondo del sistema */
  color: var(--black); /* Un color más tenue */
  cursor: not-allowed;
  opacity: 0.8;
  border-color: var(--border-dark);
}

/* Estilos para cuando hay un error en el campo */
.input-error-select {
  border-color: var(--border-error); /* Rojo para indicar error */
}

/* Mensaje de error */
.error-message-select {
  font-size: 0.75rem;
  color: var(--border-error); /* Rojo para el mensaje de error */
  margin-top: 4px;
}

/* Estilos para el ícono */
.icon-left-select {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 10px; /* Ajusta la posición del ícono */
  transform: translateY(-50%);
  width: 20px; /* Ancho fijo para el ícono */
  height: 20px; /* Altura fija para el ícono */
}

/* Línea divisoria para el ícono a la izquierda */
.icon-left-select::after {
  content: "";
  position: absolute;
  right: -8px; /* Posición de la línea respecto al ícono */
  top: 50%;
  transform: translateY(-50%);
  width: 1px; /* Grosor de la línea */
  height: 70%; /* Altura de la línea (70% del ícono) */
  background-color: var(--border-dark); /* Color del borde del select */
}
