.card {
  color: var(--white);
  border-radius: 20px;
  border: 0.5px solid var(--border-dark);
  padding: 20px;
  transition: all 0.3s ease;
  max-width: 400px;
  width: 100%;
}

.card-header {
  text-align: left;
  margin-bottom: 10px;
}

.card-header h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

.card-subtitle {
  font-size: 0.9rem;
  color: var(--subtitle-dark);
  margin: 0;
}

.card-body {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
