/* Fondo semitransparente */
.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.548);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Caja del diálogo */
.alert-dialog {
  background: #09090b;
  color: var(--white);
  border-radius: 12px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative; /* Necesario para posicionar el ícono */
  border: 0.5px solid #27272a;
}

/* Header con título y subtítulo */
.alert-header {
  text-align: left;
  margin-bottom: 10px;
  position: relative; /* Necesario para posicionar el ícono dentro de este contenedor */
}

.alert-header h3 {
  font-size: 18px;
}

.alert-subtitle {
  font-size: 15px;
  color: #a0a0a0;
  margin: 0;
}

/* Contenido */
.alert-body {
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 15px;
  text-align: left;
}

/* Footer con botones */
.alert-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/* Estilo para el ícono de cierre */
.close-icon {
  position: absolute; /* Posicionamos el ícono de forma absoluta */
  top: 0; /* Pegado a la parte superior */
  right: 0; /* Pegado a la parte derecha */
  cursor: pointer;
  z-index: 1100; /* Asegura que el ícono esté encima de otros elementos */
}
